---
- name: Configure system_id_source to uname
  ansible.builtin.lineinfile:
    path: /etc/lvm/lvm.conf
    regexp: '^\s*system_id_source\s*='
    line: '    system_id_source = "uname"'
    backup: true

- name: use_lvmlockd
  ansible.builtin.lineinfile:
    path: /etc/lvm/lvm.conf
    regexp: '^\s*use_lvmlockd\s*='
    line: '    use_lvmlockd = 1'

- name: Configure auto_activation_volume_list
  ansible.builtin.lineinfile:
    path: /etc/lvm/lvm.conf
    regexp: '^\s*#?\s*auto_activation_volume_list\s*='
    line: '    auto_activation_volume_list = [ "rhel" ]'

- name: Verify LVM system ID matches hostname
  command: lvm systemid
  register: lvm_systemid_result
  changed_when: false
  failed_when: "'system ID: ' + inventory_hostname not in lvm_systemid_result.stdout"

- name: Create Volume Groups (VG)
  community.general.lvg:
    vg: "vg_{{ item.name }}"
    pvs: "{{ item.pvs }}"
    state: present
  loop: "{{ db_volumes }}"
  loop_control:
    label: "VG: vg_{{ item.name }}"
  delegate_to: "{{ groups['pgsqlsrv'][0] }}"

- name: Create Logical Volumes (LV) with Striping
  community.general.lvol:
    vg: "vg_{{ item.name }}"
    lv: "lv_{{ item.name }}"
    size: "98%FREE"
    opts: "-i {{ item.stripes }}"
    state: present
  loop: "{{ db_volumes }}"
  loop_control:
    label: "LV: lv_{{ item.name }} (Stripes: {{ item.stripes }})"
  delegate_to: "{{ groups['pgsqlsrv'][0] }}"

- name: Create XFS Filesystems
  filesystem:
    fstype: xfs
    dev: "/dev/vg_{{ item.name }}/lv_{{ item.name }}"
    opts: -K
    resizefs: true
  loop: "{{ db_volumes }}"
  loop_control:
    label: "FS: /dev/vg_{{ item.name }}/lv_{{ item.name }}"
  delegate_to: "{{ groups['pgsqlsrv'][0] }}"

