---
- name: postgresql tuned profili için dizin oluştur
  ansible.builtin.file:
    path: "/etc/tuned/postgresql-performance"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: postgresql tuned profili oluştur
  ansible.builtin.copy:
    dest: "/etc/tuned/redis-performance/tuned.conf"
    owner: root
    group: root
    mode: '0644'
    content: |
      [main]
      summary=Postgresql performance tuning profile
      include=throughput-performance

      [cpu]
      governor=performance
      force_latency=1

      [vm]
      transparent_hugepages=never

      [bootloader]
      cmdline=transparent_hugepage=never
  notify:
    - systemd daemon reload
    - postgresql tuned profile activate

- name: THP devre dışı bırak servisi oluştur
  ansible.builtin.copy:
    dest: /etc/systemd/system/disable-thp.service
    owner: root
    group: root
    mode: '0644'
    content: |
      [Unit]
      Description=Disable Transparent Huge Pages for Redis
      Before=postgresql-{{ pg_version }}.service

      [Service]
      Type=oneshot
      ExecStart=/bin/sh -c "echo 'never' > /sys/kernel/mm/transparent_hugepage/enabled && echo 'never' > /sys/kernel/mm/transparent_hugepage/defrag"

      [Install]
      WantedBy=multi-user.target
  notify:
    - systemd daemon reload
    - enable disable-thp
    - postgresql tuned profile activate
    - restarted postgresql
