---
- name: DLM kaynağı oluşturuluyor
  ansible.builtin.command: >
    pcs resource create dlm ocf:pacemaker:controld
    op monitor interval=30s on-fail=fence
    --group=lock_group
  delegate_to: "{{ groups['pgsqlsrv'][0] }}"
  ignore_errors: true

- name: lvmlockd kaynağı oluşturuluyor
  ansible.builtin.command: >
    pcs resource create lvmlockd ocf:heartbeat:lvmlockd
    op monitor interval=30s on-fail=fence
    --group=lock_group
  delegate_to: "{{ groups['pgsqlsrv'][0] }}"
  ignore_errors: true

- name: lock_group kaynağı klonlanıyor
  ansible.builtin.command: >
    pcs resource clone lock_group interleave=true
  delegate_to: "{{ groups['pgsqlsrv'][0] }}"
  ignore_errors: true

- name: LVM VG kaynaklarını oluştur
  ansible.builtin.command: >
    pcs resource create lvm_vg_{{ item.name }} LVM-activate
    vgname=vg_{{ item.name }} vg_access_mode=system_id
    --group=pgsql
  loop: "{{ db_volumes }}"
  loop_control:
    label: "{{ item.name }}"
  delegate_to: "{{ groups['pgsqlsrv'][0] }}"
  ignore_errors: true

- name: Filesystem kaynaklarını oluştur
  ansible.builtin.command: >
    pcs resource create fs_{{ item.name }} Filesystem
    device=/dev/vg_{{ item.name }}/lv_{{ item.name }}
    directory={{ item.mountpoint }}
    fstype=xfs
    --group=pgsql
  loop: "{{ db_volumes }}"
  loop_control:
    label: "{{ item.name }}"
  delegate_to: "{{ groups['pgsqlsrv'][0] }}"
  ignore_errors: true